
  #user-container {
    background-color: rgb(3,125,229);
    display: flex;
    flex-direction: row;
    top: 22px;
    width: 100%;
    height: 50px;
    justify-content: center;
    align-items: center;
  }

  #user-container #user-pic {
    position: relative;
    display: inline-block;
    background-image: url('/img/profile_placeholder.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    background-size: 30px;
    border-radius: 15px;
  }

  #user-container #user-name {
    font-size: 15px;
    padding-right: 8px;
    padding-left: 8px;
    color: white;
  }

  @media screen and (max-width: 610px) {
    #user-container {
      background-color: rgb(3,155,229);
      padding-top: 3px;
      padding-right: 2px;
    }
    #user-container #user-pic {
      top: 2px;
      width: 30px;
      height: 30px;
      background-size: 30px;
    }
  }