<div id="comments">
    <div id="loading">Loading...</div>
</div>
<div id="new-comments" hidden="true">
        <form id="comments-form" action="#">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="new-comment">
                  <label class="mdl-textfield__label" for="new-comment">New Comment</label>
                </div>
                <button id="submit" disabled type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                  Send
                </button>
         </form>
</div>